.TitleDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ButtonIcon{
    display: flex;
    align-items: center;
    gap: 10px;
}

.Img{
    height: 200px;
    width: auto !important;
    cursor: pointer;
}

.Img:hover{
    opacity: 0.8;
}

.Images{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}