.Container {
    padding-top: 20px;
    background-color: #E5E5E5;

}

.DivGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 0 auto;
}

.Shield {
    animation: updown 6s cubic-bezier(0.38, 0.85, 0.8, 0.3) infinite;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes updown {
    0% {
        transform: scale(1.0);
    }

    25% {
        transform: scale(1.15);
    }

    50% {
        transform: scale(1.2);
    }

    75% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1.0);
    }
}

.DivImg {}