.Container{
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 0;
    padding: 0;
}

.ImgCondo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.Greeting{
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.GreetingIcon{
    margin-right: 10px;
    font-size: 1.8rem;
}

.Row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.LeftSide{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.CondoName{
    font-size: 18px;
    margin-bottom: 0;
}