.Greeting{
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.GreetingIcon{
    margin-right: 10px;
    font-size: 1.8rem;
}

.Row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.LeftSide{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}