.Registered{
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
    margin: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none; 
        -ms-user-select: none;
            user-select: none;
}

.RegisteredTrue{
    background-color: #ded
}
.RegisteredFalse{
    background-color: #edd
}
.ImgUserTookPic{
    text-align: center;
    padding: 20px;
}